<header th:fragment="main-header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-line">
        <div class="header-container">
            <div class="header-menu-left">
                <ul>
                    <li><a th:text="#{ads}" class="header-link-item" href="#">Объявления</a></li> <!--todo: add links-->
                    <li><a th:text="#{shops}" class="header-link-item" href="#">Магазины</a></li>
                    <li><a th:text="#{business}" class="header-link-item" href="#">Бизнес</a></li>
                    <li><a th:text="#{help}" class="header-link-item" href="#">Помощь</a></li>
                    <li class="admin-button"
                        th:each="role : ${user.getAuthorities()}"
                        th:if='${role.getAuthority().equals("ADMIN")}'>
                            <a class="header-link-item"
                               th:text="#{admin_panel}" href="#">Админка</a></li>
                </ul>
            </div>
            <div class="header-favorite-button">
                <a href="#">
                    <svg width="25" height="21" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-favorite-icon"
                              d="M10.918 5.085a5.256 5.256 0 0 1 7.524 0c2.077 2.114 2.077 5.541 0 7.655l-7.405 7.534a.75.75 0 0 1-1.074 0L2.558 12.74c-2.077-2.114-2.077-5.54 0-7.655a5.256 5.256 0 0 1 7.524 0c.15.152.289.312.418.479.13-.167.269-.327.418-.479z"></path>
                    </svg>
                </a>
            </div>
            <div class="header-menu-right">
                <ul>
                    <li><a th:text="#{reg}" class="header-link-item header-button-sign" data-toggle="modal" data-target="#registrationModalCenter" href="#">Вход и регистрация</a></li>
                    <li><a th:text="#{add}" class="header-button-new-ads" href="#">Подать объявление</a></li>
                    <li>
                        <a class="header-link-item header-button-sign" th:href="@{'?locale=ru'}">Ru</a>
                        <a class="header-link-item header-button-sign" th:href="@{'?locale=en'}">En</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
