<div th:fragment="main_body" xmlns:th="http://www.w3.org/1999/xhtml">
<!--    <div class="container">-->
        <div class="row">
            <div id="mainPageBody" class="col-md-9">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <a href="#">Название карточки</a>
                            <strong>
                                <div id="price">Цена</div>
                            </strong>
                            <div class="card-text text-muted">
                                <div id="meetingPlace">Москва, Преображенская площадь</div>
                                <div id="timeOfPosint">25 сентября 16:10</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container">
                </div>
            </div>
        </div>
<!--    </div>-->
</div>