<div th:fragment="email-edit-confirm" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal"
         id="emailEditConfirmModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content modal-settings-email-confirm center-block">
                <div class="modal-body" id="emailBlock">
                    <div class="h3 font-weight-bold ml-5">
                       Подтвердите смену почту
                    </div>
                    <div class="ml-5">
                        Будьте осторожны: не меняйте адрес по просьбе
                        незнакомого человека, даже если он представился
                        сотрудником Авито.
                    </div>
                    <button class="close modal-email-confirm-close"
                            data-dismiss="modal"
                            data-marker="popup-location/close-button">X</button>
                    <div class="form-group recovery-form-padding" id="emailModBlock">
                        <input class="form-control"
                               id="passwordInput"
                               type="password"
                               placeholder="Пароль"/>
                        <div class="text-danger" id="errorMessage"></div>
                        <div class="">
                            <button type="button"
                                    id="editConfirmEmailButton"
                                    class="btn btn-primary margin-button"
                            >Подтвердить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>