<div th:fragment="profile-settings" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div class="container" id="panel-content">
        <div class="tab-pane fade" id="nav-settings">
            <div class="d-none" id="SuccessMessage"></div>
            <div class="profile-settings">
                <div class="h2 font-weight-bold mt-4">Настройки</div>
                <div>
                    <div data-marker="change-email-block">
                        <div>
                            <span>
                                <span id="editEmail">
                                    <span class="h5" id="userEmail"></span>
                                    <i class="text-primary fa fa-pencil"></i>
                                </span>
                                <span class="float-right">
                                    <i class="text-success fa fa-check ml-5" aria-hidden="true"></i>
                                    <span data-marker="status">Подтверждён</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mt-3" style="font-size: 15px;">
                    <div>
                        <span class="text-muted mr-5">Тип пользователя</span>
                        <span class="ml-5">Частное лицо</span>
                        <a class="ml-2"
                           href="/profile/settings/business/profile">Настроить бизнес профиль</a>
                        <i class="fa fa-question-circle-o text-muted ml-0"
                           id="tooltip"
                           title="О бизнес профиле"
                           data-toggle="popover"
                           data-placement="bottom"
                           data-content="Вы получите статус компании и профессиональный внешний вид профиля"
                           style="margin:20px;"></i>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted mr-5">Номер профиля</span>
                        <span class="ml-5 col-1" id="userId"></span>
                    </div>
                    <hr>
                    <div>
                        <span class="text-muted mr-5">Объявления</span>
                        <span class="ml-5 col-1 pl-5" id="postCount">
                        </span>
                        <span class="ml-0">
                            <a class="ml-2" href="/new_post">подать объявление →</a>
                        </span>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted mr-5" >Кошелёк</span>
                        <span style="padding-left: 120px;">0
                            <span>₽</span>
                            <a class="ml-2" href="/account">пополнить кошелёк</a>
                        </span>
                    </div>
                    <hr>
                    <div id="contact">
                        <div>
                            <div class="form-section">
                                <div class="h6 mt-4 mb-4" style="font-size: 17px;">Контактная информация</h2>
                                    <div>
                                        <label class="mt-3 text-muted" for="fld_name" style="font-size: 15px;">Имя</label>
                                        <div class="form-group mt-2 float-right col-5" style="position: relative; left: -200px;">
                                            <input id="fld_name"
                                                   class="form-control form-control-sm"
                                                   type="text"
                                                   name="name"
                                                   maxlength="30">
                                        </div>
                                    </div>
                                    <div class="form-fieldset">
                                        <label class="mt-3 text-muted" style="font-size: 15px;">Город</label>
                                        <div class="form-group mt-2 float-right col-5" style="position: relative; left: 75px;">
                                            <select id="selectCity" class="form-control form-control-sm">
                                                <option id="selectedCity"></option>
                                                <option id="otherCities">Выбрать другой...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mt-1" style="position: relative; left: 200px;">
                                        <input class="btn btn-outline-dark btn-sm" id="saveCityOrNameButton" type="submit" value="Сохранить"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="phones" class="pb-4">
                            <div class="form-fieldset">
                                <label class="mt-2 text-muted" style="font-size: 15px;">Телефоны</label>
                                <div class="float-right">
                                    <div class="mt-2">
                                        <table>
                                            <tbody >
                                            <tr class="row ml-5 pl-5" id="phoneUser">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="social" class="">
                        <div class="h6 mt-4 mb-4" style="font-size: 17px;">Соцсети и сервисы</div>
<!--                        TODO: Реализовать отображение раздела Соцсети и сервисы и другие переключатели-->
                    </div>
                    <hr>
                    <div id="password" class="">
                        <div class="h6 mt-4 mb-4" style="font-size: 17px;">Смена пароля</div>
                            <div class="form-item--ppzC">
                                <label class="mt-3 text-muted" for="current_password" style="font-size: 15px;">Текущий пароль</label>
                                <div class="form-group mt-2 float-right col-5">
                                    <input id="current_password"
                                           class="form-control form-control-sm w-75"
                                           type="password"
                                           minlength="7">
                                    <div class="text-danger" id="errorPassMessage"></div>
                                </div>
                            </div>
                            <div class="form-item--ppzC">
                                <label class="mt-3 text-muted" for="new_password" style="font-size: 15px;">Новый пароль</label>
                                <div class="form-group mt-2 float-right col-5">
                                    <input id="new_password"
                                           class="form-control form-control-sm w-75"
                                           type="password"
                                           minlength="7">
                                </div>
                            </div>
                            <div class="mt-1" style="position: relative; left: 200px;">
                                <input class="btn btn-outline-dark btn-sm "
                                       id="changePasswordButton"
                                       type="submit"
                                       th:value="Изменить"
                                       disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="fragments/profile-settings-email-modal::email-edit"></div>
        <div th:insert="fragments/profile-settings-email-modal-confirm::email-edit-confirm"></div>
        <div th:insert="fragments/profile-settings-choose-city-modal::choose-city"></div>

    </div>
</div>