<div th:fragment="choose-city" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal"
         id="chooseCityModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content modal-settings-email-confirm center-block">
                <div class="modal-body" id="emailBlock">
                    <div class="h5">
                        Выбор города
                    </div>
                    <button class="close modal-email-confirm-close"
                            data-dismiss="modal"
                            data-marker="popup-location/close-button" style="position: relative; top: -50px;">X</button>
                    <div>
<!--                        TODO: Реализовать отображение выбора городов-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>