<div th:fragment="edit-phone" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal"
         id="phoneEditModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content modal-settings-email-confirm center-block" style="height: 255px;">
                <div class="modal-body" id="editPhoneBlock">
                    <div class="h4 font-weight-bold">
                        <span>Изменение номера телефона</span>
                        <br>
                        <span id="phoneModalTitle"></span>
                    </div>
                    <button class="close modal-email-confirm-close"
                            style="position: relative; top: -80px;"
                            data-dismiss="modal"
                            data-marker="popup-location/close-button">X</button>
                    <div>
                        <span class="text-muted" style="font-size: 15px;">На телефон</span>
                        <input id="phoneInput"
                               class="form-control form-control-sm w-50"
                               type="text">
                        <span class="text-muted" style="font-size: 14px;">Только мобильные номера телефонов</span>
                    </div>
                    <input class="mt-5 btn btn-outline-dark btn-sm"
                           id="changePhoneButton"
                           type="submit"
                           th:value="Изменить">
                    <input class="mt-5 btn btn-link btn-sm"
                           id="cancelPhoneButton"
                           type="submit"
                           th:value="Отмена">
                </div>
            </div>
        </div>
    </div>
</div>