<!--
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    &lt;!&ndash;min.css &ndash;&gt;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/css/registration-style.css">
    <title>Регистрация</title>
</head>
<body>

&lt;!&ndash; Link trigger modal &ndash;&gt;

<a href="#registrationModalSubb" data-toggle="modal">Модальное Окно</a>

&lt;!&ndash; Modal &ndash;&gt;

<form action="../api/user/modal-reg" method="post">
    <div class="modal fade"
         id="registrationModalSubb"
         role="dialog">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update User</h4>
                    <button id="closeUpdateModal2" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="center">

                        <td>
                            <label for="userName">Name</label><br>
                            <input type="text" id="userName" name="userName"><br><br>
                        </td>
                        <td>
                            <label for="password">Password</label><br>
                            <input type="text" id="password" name="userPassword"><br><br>
                        </td>
                        <td>
                            <label for="email">Email</label><br>
                            <input type="text" id="email" name="userEmail"><br><br>
                        </td>

                    <div class="container text-center">
                        <button type="submit" class="btn btn-info">Продолжить</button>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container text-center">
                        <h7>У вас есть учетная запись? <a href="...">Войти</a></h7>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

&lt;!&ndash; JS, Popper.js, and jQuery &ndash;&gt;
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>-->
