<header th:fragment="search-header" xmlns:th="http://www.w3.org/1999/xhtml">

<ul id="menu-search">

    <li id="category">
        <select id="category-select">
            <option th:text="#{category}">Любая категория</option>
            <option th:text="#{transport}">Транспорт</option>
            <option th:text="#{realty}">Недвижимость</option>
            <option th:text="#{job}">Работа</option>
            <option th:text="#{services}">Услуги</option>
            <option th:text="#{personalitems}">Личные вещи</option>
        </select>
    </li>

    <li id="search-main"> <!--todo: search -->
        <form>
            <input id="category-select"
                   type="text"
                   name="search-form"
                   th:placeholder="#{search}">
        </form>
    </li>

    <li id="region">
        <select id="category-select">
            <option th:text="#{taganrog}">Таганрог</option>
            <option th:text="#{moscow}">Москва</option>
            <option th:text="#{saintpeterburg}">Санкт-Петербург</option>
            <option th:text="#{kazan}">Казань</option>
            <option th:text="#{nizhnynovgorod}">Нижний Новгород</option>
            <option th:text="#{yekaterinburg}">Екатеринбург</option>
        </select>
    </li>

    <li id="radius">
        <select id="category-select">
            <option th:text="#{radiousarea}">Радиус / Район</option>
            <option th:text="#{radious}">Радиус</option>
            <option th:text="#{area}">Район</option>
        </select>
    </li>

    <li id="search-left"> <!--todo: link to action -->
        <button th:text="#{justsearch}" id="category-select"
                name="search-button">
            Найти
        </button>
    </li>

</ul>

</header>
</body>

