<header th:fragment="search-header">

<ul id="menu-search">

    <li id="category">
        <select id="category-select">
            <option>Любая категория</option>
            <option>Транспорт</option>
            <option>Недвижимость</option>
            <option>Работа</option>
            <option>Услуги</option>
            <option>Личные вещи</option>
        </select>
    </li>

    <li id="search-main"> <!--todo: search -->
        <form>
            <input id="category-select"
                   type="text"
                   name="search-form"
                   placeholder="Поиск по объявлениям">
        </form>
    </li>

    <li id="region">
        <select id="category-select">
            <option>Таганрог</option>
            <option>Москва</option>
            <option>Санкт-Петербург</option>
            <option>Казань</option>
            <option>Нижний Новгород</option>
            <option>Екатеринбург</option>
        </select>
    </li>

    <li id="radius">
        <select id="category-select">
            <option>Радиус / Район</option>
            <option>Радиус</option>
            <option>Район</option>
        </select>
    </li>

    <li id="search-left"> <!--todo: link to action -->
        <button id="category-select"
                name="search-button">

            Найти
        </button>
    </li>

</ul>

</header>
</body>

