<header th:fragment="search-header" xmlns:th="http://www.w3.org/1999/xhtml">

<ul id="menu-search">

    <li id="category">
        <select id="category-select">
            <option th:text="#{category}">Любая категория</option>
            <option class="category-parent" th:text="#{category_1}">Транспорт</option>
            <option th:text="#{category_1_1}">Автомобили</option>
            <option th:text="#{category_1_2}">Мотоциклы и мототехника</option>
            <option th:text="#{category_1_3}">Грузовики и спецтехника</option>
            <option th:text="#{category_1_4}">Водный транспорт</option>
            <option th:text="#{category_1_5}">Запчасти и автоаксессуары</option>

            <option class="category-parent" th:text="#{category_2}">Недвижимость</option>
            <option th:text="#{category_2_1}">Квартиры</option>
            <option th:text="#{category_2_2}">Комнаты</option>
            <option th:text="#{category_2_3}">Дома, дачи, коттеджи</option>
            <option th:text="#{category_2_4}">Гаражи и машиноместа</option>
            <option th:text="#{category_2_5}">Земельные участки</option>
            <option th:text="#{category_2_6}">Коммерческая недвижимость</option>
            <option th:text="#{category_2_7}">Недвижимость за рубежом</option>

            <option class="category-parent" th:text="#{category_3}">Работа</option>
            <option th:text="#{category_3_1}">Вакансии</option>
            <option th:text="#{category_3_2}">Резюме</option>

            <option class="category-parent" th:text="#{category_4}">Услуги</option>

            <option class="category-parent" th:text="#{category_5}">Личные вещи</option>
            <option th:text="#{category_5_1}">Одежда, обувь, аксессуары</option>
            <option th:text="#{category_5_2}">Детская одежда и обувь</option>
            <option th:text="#{category_5_3}">Товары для детей и игрушки</option>
            <option th:text="#{category_5_4}">Часы и украшения</option>
            <option th:text="#{category_5_5}">Красота и здоровье</option>

            <option class="category-parent" th:text="#{category_6}">Для дома и дачи</option>
            <option th:text="#{category_6_1}">Бытовая техника</option>
            <option th:text="#{category_6_2}">Мебель и интерьер</option>
            <option th:text="#{category_6_3}">Посуда и товары для кухни</option>
            <option th:text="#{category_6_4}">Продукты питания</option>
            <option th:text="#{category_6_5}">Ремонт и строительство</option>
            <option th:text="#{category_6_6}">Растения</option>

            <option class="category-parent" th:text="#{category_7}">Бытовая Электроника</option>
            <option th:text="#{category_7_1}">Аудио и видео</option>
            <option th:text="#{category_7_2}">Игры, приставки и программы</option>
            <option th:text="#{category_7_3}">Настольные компьютеры</option>
            <option th:text="#{category_7_4}">Ноутбуки</option>
            <option th:text="#{category_7_5}">Оргтехника и расходники</option>
            <option th:text="#{category_7_6}">Планшеты и электронные книги</option>
            <option th:text="#{category_7_7}">Телефоны</option>
            <option th:text="#{category_7_8}">Товары для компьютера</option>
            <option th:text="#{category_7_9}">Фототехника</option>

            <option class="category-parent" th:text="#{category_8}">Хобби и отдых</option>
            <option th:text="#{category_8_1}">Билеты и путешествия</option>
            <option th:text="#{category_8_2}">Велосипеды</option>
            <option th:text="#{category_8_3}">Книги и журналы</option>
            <option th:text="#{category_8_4}">Коллекционирование</option>
            <option th:text="#{category_8_5}">Музыкальные инструменты</option>
            <option th:text="#{category_8_6}">Охота и рыбалка</option>
            <option th:text="#{category_8_7}">Спорт и отдых</option>

            <option class="category-parent" th:text="#{category_9}">Животные</option>
            <option th:text="#{category_9_1}">Собаки</option>
            <option th:text="#{category_9_2}">Кошки</option>
            <option th:text="#{category_9_3}">Птицы</option>
            <option th:text="#{category_9_4}">Аквариум</option>
            <option th:text="#{category_9_5}">Другие животные</option>
            <option th:text="#{category_9_6}">Товары для животных</option>

            <option class="category-parent" th:text="#{category_10}">Для бизнеса</option>
            <option th:text="#{category_10_1}">Готовый бизнес</option>
            <option th:text="#{category_10_2}">Оборудование для бизнеса</option>
        </select>
    </li>

    <li id="search-main"> <!--todo: search -->
        <form>
            <input id="category-select"
                   type="text"
                   name="search-form"
                   th:placeholder="#{search}">
        </form>
    </li>

    <li id="region"
        data-toggle="modal"
        data-target="#searchModal">
        <select id="category-select-city" disabled>
        </select>
    </li>

    <li id="search-left"> <!--todo: link to action -->
        <button th:text="#{justsearch}" id="category-select"
                name="search-button">
            Найти
        </button>
    </li>

</ul>

</header>
</body>

