<div th:fragment="search-city" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal"
         id="searchModel"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-lg"
                role="document">
            <div class="modal-content"
                 style="height: 400px; margin-top: 200px">
                <div class="modal-body" id="searchCityDiv">
                    <span class="text-left h4" style="font-weight: bold; margin-bottom: 5px; padding: 10px">Город или регион</span>
                    <button class="close" data-dismiss="modal" style="position: relative; left: 35px; bottom: 13px;">X</button>
                    <div class="form-group citiesOptions mt-1">
                        <input class="typeahead form-control"
                               id="cityInput"
                               name="cityInput"
                               type="text"
                               placeholder="Город, регион или Россия"
                               style="z-index: 9999; position: relative;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
