#main_page_posting {
    height: 320px;
    width: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#postingImageRef {
    width: 100%;
    height: 200px;
    display: block;
}
#postingCardBody {
    margin-top: 5px;
}
#postingTitle {
    text-decoration: none;
}
#postingTitle:hover {
    color: #FF0000;
}