.row {
    margin: 0px
}

#mainRow {
    border-bottom: 1px solid #ebebeb;
}

#MainBody {
    max-width: 1230px;
    padding: 0;
    margin-top: 150px;
}

#mainPageBody {
    padding: 0;
}

ul {
    margin-bottom: 0;
}

li {
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}

#categoriesHrefs > li > a {
    color: gray;
}

#categoriesHrefs > li > a:hover {
    color: red;
}

#buttons {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

#button1 {
    padding: 5px;
}

#ImageSlider {
    height: 500px;
}

#carousel-indic {
    width: 100%;
    margin: 0;
    bottom: -85px;
    display: inline-block;
}

#carousel-indic > li {
    height: 55px;
    width: 71px;
    display: inline-block;
    margin-bottom: 5px;
    border: 0;
}

#carousel-indic > li > img {
    display: block;
    height: -webkit-fill-available;
}

#directionIndicators > a {
    color: gray;
}

#directionIndicators > a:hover {
    color: red;
}

#clientButtons > button {
    height: 78px;
    margin-bottom: 10px;
}

#rowInfo > div {
    padding: 0px;
}

#userInfo {
    display: grid;
    font-size: 1.1rem;
}

#avatarPosting {
    height: 76px;
}

#btnSubscribe {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ebebeb;
}

#postingStatistics {
    padding-top: 20px;
}

#postingStatistics > div > span {
    margin-right: 5px;
}

#conditionOptions {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

#conditionOptions > div {
    padding: 0;
}

.list-group-item {
    border: none;
    padding: 0;
}