<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Board of ads</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main_page.css" th:href="@{/css/main_page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/fragment-navigate-panel-style.css" th:href="@{/css/fragment-navigate-panel-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/header-fragment-style.css" th:href="@{/css/header-fragment-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/search-fragment-style.css" th:href="@{/css/search-fragment-style.css}"/>

</head>
<body>
<div th:insert="fragment/navigate-panel::navigate-header"></div>

<!--header-->
<header th:insert="fragment/header::main-header"></header>
<header th:insert="fragment/search-header::search-header"></header>

<script src="../static/js/main_page.js" th:src="@{/js/main_page.js}"></script>
</body>
</html>