<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header-fragment-style.css" th:href="@{/css/header-fragment-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/add-new-post-style.css" th:href="@{/css/add-new-post-style.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="fragments/header::main-header"></header>
<div class="main-container">
    <div class="logo-header">
        <a><img class="main-logo" th:src="@{images/logo.jpg}"></a>
        <div class="text-in-logo-header">Новое объявление</div>

    </div>












</div>

</body>
</html>